<div class="col-sm-8 blog-main">



    <% for(var i=0; i< 4 ; i++) {%>
        <%- include post/blog-post-1.ejs %>
    <% } %>

    <%- include post/blog-post-2.ejs %>
    <%- include post/blog-post-3.ejs %>
    <%- include post/blog-pagination.ejs %>

</div><!-- /.blog-main -->

