<div class="col-sm-8 blog-main">

    <div class="blog-post">
        <h2 class="blog-post-title"><%= post_title %></h2>
        <p class="blog-post-meta"><%= post_meta %></p>

        <p><%= post_description %></p>
        <hr>
        <div id="content"><%= post_content.replace(/\n/g, '<br/>') %> </div>
        <br/>
    </div><!-- /.blog-post -->

</div><!-- /.blog-main -->

