<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrew Blog - 新增文章</title>
</head>

<script>
    function addArticle() {

    };
</script>

<body>

    <%- include component/nav.component.html %>

    標題<br/>
    <input type="text" id="title" ><br/>
    分類 a ,b ,c , d <br/>
    <textarea>
        <!-- 可以放一個線上文字編輯器在此 -->
    </textarea>
    <button onclick="addArticle();" >上傳</button>

</body>
</html>
